# IDE related folders
.idea/

# Ignore environment files
KEYS.env

# LaTeX related folders
design-document/out/
report/out/

# Ignore macOS related files/folders
.DS_STORE

# Ignore backend related irrelevant files/folders
backend/__pycache__/
backend/cache/
data/
